@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);

.service-for-business {
  background-color: #fff;
}
.service-strategy {
  background-color: #fef2f2;
}
.service-2 {
  margin-top: 30px;
}
.fa-database {
  font-size: 1em;
  color: #f24837;
  margin-right: 10px;
}
.service-strategy:hover .fa-database {
  color: #fff;
}
.service-para-2 {
  font-size: 10px;
  color: #a5a1a0;
  line-height: 20px;
}
.about-us {
  background-color: #f7f8fc;
}
.accordian-image {
  height: 20px;
}
